<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>30320</key>
	<string>Hartsfield-Jackson Atlanta International  (ATL)
Hartsfield-Jackson Atlanta International  (ATL)
</string>
	<key>99502</key>
	<string>Ted Stevens Anchorage International Airport  (ANC)
Ted Stevens Anchorage International Airport  (ANC)
</string>
	<key>78719</key>
	<string>Austin-Bergstrom International  (AUS)
</string>
	<key>21240</key>
	<string>Baltimore/Washington International  (BWI)
</string>
	<key>02128</key>
	<string>Logan International  (BOS)
</string>
	<key>28208</key>
	<string>Charlotte Douglas International  (CLT)
</string>
	<key>60638</key>
	<string>Chicago Midway Airport  (MDW)
</string>
	<key>60666</key>
	<string>Chicago O&apos;Hare International  (ORD)
</string>
	<key>41048</key>
	<string>Cincinnati/Northern Kentucky International  (CVG)
</string>
	<key>44135</key>
	<string>Cleveland Hopkins International  (CLE)
</string>
	<key>43219</key>
	<string>Port Columbus International  (CMH)
</string>
	<key>75261</key>
	<string>Dallas/Ft. Worth International (DFW)
</string>
	<key>80249</key>
	<string>Denver International Airport  (DEN)
</string>
	<key>48242</key>
	<string>Detroit Metropolitan Wayne County Airport  (DTW)
</string>
	<key>33315</key>
	<string>Fort Lauderdale/Hollywood International  (FLL)
</string>
	<key>33913</key>
	<string>Southwest Florida International  (RSW)
</string>
	<key>06096</key>
	<string>Bradley International  (BDL)
</string>
	<key>96819</key>
	<string>Hawaii Honolulu International  (HNL)
</string>
	<key>77032</key>
	<string>George Bush Intercontinental  (IAH)
</string>
	<key>77061</key>
	<string>William P. Hobby Airport  (HOU)
</string>
	<key>46241</key>
	<string>Indianapolis International  (IND)
</string>
	<key>64513</key>
	<string>Kansas City International  (MCI)
</string>
	<key>89119</key>
	<string>McCarran International  (LAS)
</string>
	<key>90045</key>
	<string>Los Angeles International  (LAX)
</string>
	<key>38116</key>
	<string>Memphis International  (MEM)
</string>
	<key>33126</key>
	<string>International Airport	Florida  (MIA)
</string>
	<key>55111</key>
	<string>Minneapolis/St. Paul International	Minnesota  (MSP)
</string>
	<key>37214</key>
	<string>Nashville International  (BNA)
</string>
	<key>70062</key>
	<string>Louis Armstrong International  (MSY)
</string>
	<key>11430</key>
	<string>John F. Kennedy International  (JFK)
</string>
	<key>11371</key>
	<string>LaGuardia International  (LGA)
</string>
	<key>07114</key>
	<string>Newark Liberty International  (EWR)
</string>
	<key>94621</key>
	<string>Metropolitan Oakland International  (OAK)
</string>
	<key>91761</key>
	<string>Ontario International  (ONT)
</string>
	<key>32827</key>
	<string>Orlando International  (MCO)
</string>
	<key>19153</key>
	<string>Philadelphia International  (PHL)
</string>
	<key>85034</key>
	<string>Sky Harbor International  (PHX)
</string>
	<key>15231</key>
	<string>Pittsburgh International  (PIT)
</string>
	<key>97218</key>
	<string>Portland International  (PDX)
</string>
	<key>27560</key>
	<string>Raleigh-Durham International  (RDU)
</string>
	<key>95837</key>
	<string>Sacramento International  (SMF)
</string>
	<key>84122</key>
	<string>Salt Lake City International	  (SLC)
</string>
	<key>78216</key>
	<string>San Antonio International  (SAT)
</string>
	<key>92101</key>
	<string>Lindbergh Field International  (SAN)
</string>
	<key>94128</key>
	<string>San Francisco International  (SFO)
</string>
	<key>95110</key>
	<string>Mineta San José International  (SJC)
</string>
	<key>92707</key>
	<string>John Wayne Airport, Orange County  (SNA)
</string>
	<key>63145</key>
	<string>Lambert-St. Louis International  (STL)
</string>
	<key>98158</key>
	<string>Seattle-Tacoma International - Seatac Airport (SEA)
</string>
	<key>33607</key>
	<string>Tampa International	 (TPA)
</string>
	<key>20166</key>
	<string>Dulles International Airport  (IAD)
</string>
	<key>22202</key>
	<string>Ronald Reagan Washington National  (DCA)</string>
</dict>
</plist>
